# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Runtime
*.log
*.pid

# mpv IPC
*.sock

# Generated playlist
playlist/*.m3u

# Local user data
data/favorites.json

# Backups
*.bak
*.backup
*.old
